ul.list1 {
    list-style-type: none;
}

ul.list2 {
    list-style-image: url("arrow.png");
}

ul.list3 {
    background-color: #d83da9;
    list-style: lower-roman inside;
    margin: 0;
    padding: 3px;
}

ul.list3 li {
    padding: 5px;
    margin: 5px;
    background-color: #f75ef4;
}