div, p {
    font: 20px Calibri, sans-serif;
}

.header, .footer{
    background-color: #808080;
    height: 70px;
    line-height: 70px;
    padding-left: 30px;
    color: white;
    clear:both;
}

.header {
    font-size: 30px;
}

div.flex-container {
    padding: 0 30px;
}

div.list {
    float: left;
    width: 30%;
    margin: 0;
}

div.content {
    float: left;
    width: 70%;
    margin: 0;
}

ul {
    padding-top: 19px;
    padding-left: 0;
}
li {
    list-style-type: none;
    background: grey;
    height: 40px;
    line-height: 40px;
    margin-left: 0;
    padding: 3px;
    margin-bottom: 10px;
    color: white;
    width: 200px;
}