<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.company.dao.UserDao">
    <select id="selectAll" resultType="com.company.pojo.User">
        select * from smbms_user;
    </select>

    <select id="selectById" parameterType="int" resultType="com.company.pojo.User">
        select * from smbms_user where id = #{id};
    </select>

    <update id="deleteById" parameterType="int">
        delete from smbms_user where id = #{id};
    </update>

    <update id="add" parameterType="com.company.pojo.User">
        insert into smbms_user (id, userCode, userName) values (#{id}, #{userCode}, #{userName});
    </update>

    <update id="update" parameterType="com.company.pojo.User">
        update smbms_user set userName = #{userName} , userCode = #{userCode} where id = #{id};
    </update>

    <update id="updateByMap" parameterType="java.util.Map">
        update smbms_user set userName = #{userName} , userCode = #{userCode} where id = #{id};
    </update>

    <select id="fuzzyQuery" parameterType="String" resultType="com.company.pojo.User">
        select * from smbms_user where userName like #{keyword}"%";
    </select>
</mapper>